$roxo: #643A9B;
$cinza: #878787;
$cinza-escuro: #565656;
$laranja: #F07F3C;
$azul-escuro: #31306C;
.conheca-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 123px;
  padding-bottom: 122px;
  gap: 80px;
  .texto-conheca {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-family: 'Inter', sans-serif;
      color: $cinza-escuro;
      font-weight: 700;
      font-size: 35px;
      line-height: 42.36px;
      max-width: 448px;
      padding-bottom: 60px;
      text-align: left;
    }
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $roxo;
      h3 {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 18.75px;
        max-width: 188px;
        padding-left: 8px;
        padding-top: 10px;
        text-align: left;
      }
    }
    p {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 21.09px;
      color: $cinza;
      max-width: 448px;
      text-align: left;
      padding-bottom: 42px;
    }
  }
}


.diferenciais-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, $azul-escuro, $roxo, $laranja);
  height: 620px;
  h1 {
    font-weight: 700;
    font-size: 35px;
    line-height: 58px;
    text-align: center;
    color: white;
    padding-bottom: 60px;
  }
  .diferenciais-itens {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    &>div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    p {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 21.09px;
      color: white;
      max-width: 233px;
      text-align: center;
    }
    img {
      padding-bottom: 42px;
    }
  }
}