* {
  font-family: 'Inter', sans-serif;
  a {
    text-decoration: none;
    color: white;
  }
}
$laranja: #F07F3C;
$laranja-escuro: #FF650A;
$azul-escuro: #31306C;
$branco: #FFFFFF;
.desconto {
  height: 50px;
  text-align: center;
  background-image: linear-gradient(to right, $azul-escuro, $laranja);
  color: $branco;
  p {
    padding-top: 10px;
  }
  a {
    color: $branco;
  }
}
.container-nav {
  background-image: url('images/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}
.button {
  background-color: $laranja;
  border-radius: 100px;
  padding: 10px 20px;
  height: 50px;
  a {
    text-decoration: none;
    color: $branco;
  }
  &:hover {
    background-color: $laranja-escuro;
    color: #FFFFFF;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 30px;
  position: absolute;
  height: fit-content;
  gap: 30px;
  .menuButton{
    background-color: $branco;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 45px;
    border-radius: 20px;
    p {
      color: $laranja;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 10px;
      padding-left: 15px;
    }
    span {
      background-color: $laranja;
      width: 23px;
      border: 2px solid $laranja;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 5px;
    }
    &:hover {
      margin-top: 0;
      .burguer {
        span:first-of-type {
          display: none;
        }
        span:nth-of-type(2){
          transform: rotate(45deg) translate(5px);
          transition: .15s ease-in;
        }
        span:nth-of-type(3){
          transform: rotate(-45deg) translate(8px);
          transition: .15s ease-in;
        }
        #lista-link .nav-link .button {
          padding: 20px 58px;
        }
      }
    }
  }
  .lista {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-image: linear-gradient(to right, $azul-escuro, $laranja);
    height: 100%;
    list-style: none;
    height: fit-content;
    div:first-of-type {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    div:nth-of-type(2) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .nav-item {
    &:hover {
      border-bottom: 3px solid $laranja;
    }
    .nav-link {
      color: white;
      &:first-of-type {
        font-weight: 400;
        font-size: 18px;
        line-height: 45px;
        text-align: right;
        margin: 0;
      }
      &:nth-of-type(2) {
        font-weight: 400;
        font-size: 27px;
        line-height: 51px;
        text-align: right;
        margin: 0;
      }
    }
  }
}
.offcanvas {
  background-image: linear-gradient(to right, $azul-escuro, $laranja);
}
.offcanvas-top {
  height: 100%;
}

.offcanvas-header {
  justify-content: space-around;
  background-image: linear-gradient(to right, $azul-escuro, $laranja);
}
.offcanvas-body {
  width: 100%;
  padding: 0;
  background-image: linear-gradient(to right, $azul-escuro, $laranja);
}
.texto-header {
  color: $branco;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-weight: 900;
      font-size: 64px;
      line-height: 58px;
      width: 45.875rem;
    }
    p {
      font-weight: 500;
      font-size: 24px;
      line-height: 26px;
      max-width: 488px;
      width: 100%;
      text-align: center;
      padding-bottom: 30px;
    }
    .descer a {
      opacity: 0.5;
      color: $branco;
      text-decoration: none;
      padding-top: 54px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: -300px;
      position: absolute;
      img {
        width: 2px;
      }
    }
  }
}