$laranja: #F07F3C;
$azul-escuro: #31306C;
$branco: #FFFFFF;
.categorias {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $azul-escuro;
  height: fit-content;
}
.texto-categorias {
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $branco;
  padding-bottom: 132px;
  h2 {
    font-weight: 700;
    font-size: 35px;
  }
  p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28.13px;
    max-width: 924px;
    width: 100%;
  }
}

.cursos-categorias {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .cursos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 326px;
    width: 100%;
    .cursos-itens {
      background-repeat: no-repeat;
      background-size: cover;
      width: 538px;
      height: 530px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:first-of-type {
        background-image: url('images/direito.png');
      }
      &:nth-of-type(2) {
        background-image: url('images/psicologia.png');
      }
      &:nth-of-type(3) {
        background-image: url('images/servico-social.png');
      }
      &:nth-of-type(4) {
        background-image: url('images/cursos-preparatorios.png');
      }
      span {
        width: 31px;
        background-color: $laranja;
        border: 2px solid $laranja;
      }
      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-decoration: none;
        h3 {
          font-weight: 800;
          font-size: 29px;
          line-height: 30px;
          text-align: center;
          padding-bottom: 40px;
        }
        p {
          font-weight: 400;
          font-size: 18px;
          line-height: 25px;
          text-align: center;
          padding-top: 16px;
          padding-bottom: 30px;
        }
      }
      img {
        border: 3px solid $laranja;
        border-radius: 100%;
        padding: 15px;
      }
    }
  }
}

.principais-cursos {
  .cognitivo {
    background-image: url('images/cerebro.png');
    background-repeat: no-repeat;
    width: 490px;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 50px;
  }
  .violencia {
    background-image: url('images/violencia-domestica.png');
    background-repeat: no-repeat;
    width: 490px;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 50px;
  }
  .infantil {
    background-image: url('images/ursinho.png');
    background-repeat: no-repeat;
    width: 490px;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 50px;
  }
  a {
    text-decoration: none;
  }
  .cursos-texto {
    span {
      background-color: #FFFFFF;
      color: $azul-escuro;
      font-weight: 800;
      font-size: 12px;
      text-align: right;
      border-radius: 100px;
      width: fit-content;
      margin-left: auto;
      padding: 0 5px;
    }
    h4 {
      color: white;
      font-weight: 600;
      font-size: 23px;
      line-height: 25px;
      text-align: left;
      max-width: 270px;
      padding-bottom: 12px;
    }
    p {
      font-weight: 500;
      font-size: 17px;
      line-height: 20.57px;
      color: white;
    }
    .classificacao {
      display: flex;
      align-items: center;
      padding-bottom: 15px;
      p {
        color: $laranja;
        font-weight: 700;
        font-size: 16px;
        padding-top: 20px;
        padding-left: 10px;
      }
      img {
        height: 25px;
        width: 25px;
      }
    }
    .beneficios {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 250px;
      padding-bottom: 27px;
      div {
        display: flex;
        align-items: center;
        p {
          padding-top: 15px;
          padding-left: 7px;
        }
      }
      img {
        height: 25px;
        width: 25px;
      }
    }
  }
}