@media (max-width: 576px) {
  // header
  .desconto {
    position: static;
    p {
      font-weight: 400;
      font-size: 15px;
      line-height: 18.15px;
      text-align: center;
      max-width: 290px;
    }
  }
  .container-nav {
    background-position: center;
    height: 500px;
  }
  .navbar-brand {
    img {
      width: 138px;
    }
  }
  nav div {
    margin: 0;
  }
  .responsive-button {
    display: none;
  }
  .lista {
    flex-direction: column;
    align-items: center;
    div:first-of-type {
      width: 100%;
      font-size: 18px;
    }
    .nav-item {
      .nav-link {
        color: white;
        &:first-of-type {
          width: 100%;
          text-align: center;
        }
        &:nth-of-type(2) {
          font-size: 20px;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
  .texto-header {
    div {
      h1 {
        font-size: 33px;
        line-height: 32px;
        max-width: 290px;
        padding-bottom: 17px;
      }
      p {
        max-width: 287px;
      }
      .descer {
        display: none;
      }
    }
  }
  // main
  .texto-categorias {
    h2 {
      max-width: 290px;
    }
    p {
      max-width: 290px;
    }
  }
  .cursos-categorias {
    .cursos {
      .cursos-itens {
        max-height: 138px;
        max-width: 142px;
        a {
          h3,p {
            display: none;
          }
        }
      }
    }
  }

  // aside
  .conheca-container {
    &>img {
      display: none;
    }
    .texto-conheca {
      max-width: 289px;
      h1 {
        text-align: center;
      }
      .vantagens {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
          text-align: center;
        }
      }
      p {
        max-width: 291px;
        text-align: center;
      }
    }
  }
  .diferenciais-container {
    display: none;
  }
  // main 
  .principais-cursos {
    .cognitivo, .violencia, .infantil {
      width: fit-content;
      background-size: contain;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .cursos-texto {
      padding-top: 50px;
      height: 150px;
      h4 {
        font-size: 20px;
        padding-bottom: 0;
      }
      .beneficios {
        flex-direction: column;
      }
    }
  }
  // footer
  .infos {
    flex-direction: column;
    padding-top: 0;
    gap: 0;
    align-items: flex-start;
  }
  .container-sobre {
    .infos-links {
      img {
        display: block;
      }
      &:hover {
        ul {
          display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        }
      }
      .button {
        display: none;
      }
      ul {
        width: 260px;
        display: none;
      }
      a {
        display: flex;
        align-items: center;
        color: white;
      }
    }
  }
  .certificacoes-itens {
    display: none;
  }
  .politicas-container {
    flex-direction: column;
    .politicas {
      flex-direction: column;
      padding-left: 0;
      gap: 20px;
    }
  }
  .whatsapp, .subir {
    display: none;
  }
}
