* {
  font-family: 'Inter', sans-serif;
}
* a {
  text-decoration: none;
  color: white;
}

.desconto {
  height: 50px;
  text-align: center;
  background-image: linear-gradient(to right, #31306C, #F07F3C);
  color: #FFFFFF;
}
.desconto p {
  padding-top: 10px;
}
.desconto a {
  color: #FFFFFF;
}

.container-nav {
  background-image: url("images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

.button {
  background-color: #F07F3C;
  border-radius: 100px;
  padding: 10px 20px;
  height: 50px;
}
.button a {
  text-decoration: none;
  color: #FFFFFF;
}
.button:hover {
  background-color: #FF650A;
  color: #FFFFFF;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 30px;
  position: absolute;
  height: fit-content;
  gap: 30px;
}
nav .menuButton {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  height: 45px;
  border-radius: 20px;
}
nav .menuButton p {
  color: #F07F3C;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-left: 15px;
}
nav .menuButton span {
  background-color: #F07F3C;
  width: 23px;
  border: 2px solid #F07F3C;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5px;
}
nav .menuButton:hover {
  margin-top: 0;
}
nav .menuButton:hover .burguer span:first-of-type {
  display: none;
}
nav .menuButton:hover .burguer span:nth-of-type(2) {
  transform: rotate(45deg) translate(5px);
  transition: .15s ease-in;
}
nav .menuButton:hover .burguer span:nth-of-type(3) {
  transform: rotate(-45deg) translate(8px);
  transition: .15s ease-in;
}
nav .menuButton:hover .burguer #lista-link .nav-link .button {
  padding: 20px 58px;
}
nav .lista {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-image: linear-gradient(to right, #31306C, #F07F3C);
  height: 100%;
  list-style: none;
  height: fit-content;
}
nav .lista div:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav .lista div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav .nav-item:hover {
  border-bottom: 3px solid #F07F3C;
}
nav .nav-item .nav-link {
  color: white;
}
nav .nav-item .nav-link:first-of-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 45px;
  text-align: right;
  margin: 0;
}
nav .nav-item .nav-link:nth-of-type(2) {
  font-weight: 400;
  font-size: 27px;
  line-height: 51px;
  text-align: right;
  margin: 0;
}

.offcanvas {
  background-image: linear-gradient(to right, #31306C, #F07F3C);
}

.offcanvas-top {
  height: 100%;
}

.offcanvas-header {
  justify-content: space-around;
  background-image: linear-gradient(to right, #31306C, #F07F3C);
}

.offcanvas-body {
  width: 100%;
  padding: 0;
  background-image: linear-gradient(to right, #31306C, #F07F3C);
}

.texto-header {
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}
.texto-header div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.texto-header div h1 {
  font-weight: 900;
  font-size: 64px;
  line-height: 58px;
  width: 45.875rem;
}
.texto-header div p {
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
  max-width: 488px;
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
}
.texto-header div .descer a {
  opacity: 0.5;
  color: #FFFFFF;
  text-decoration: none;
  padding-top: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -300px;
  position: absolute;
}
.texto-header div .descer a img {
  width: 2px;
}

.categorias {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #31306C;
  height: fit-content;
}
.categorias .button {
  margin-bottom: 50px;
}

.texto-categorias {
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 132px;
}
.texto-categorias h2 {
  font-weight: 700;
  font-size: 35px;
}
.texto-categorias p {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28.13px;
  max-width: 924px;
  width: 100%;
}

.cursos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cursos-itens {
  background-repeat: no-repeat;
  background-size: cover;
  width: 538px;
  height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cursos-itens .curso-link {
  max-height: 538px;
  height: 100%;
  max-width: 538px;
  width: 100%;
  position: relative;
}
.cursos-itens .curso-link:hover {
  transform: scale(1.2);
  transition-duration: 1s;
}
.cursos-itens .curso-link:hover > img {
  filter: brightness(50%);
}
.cursos-itens span {
  width: 31px;
  background-color: #F07F3C;
  border: 2px solid #F07F3C;
  display: none;
}
.cursos-itens a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}
.cursos-itens a h3 {
  font-weight: 800;
  font-size: 29px;
  line-height: 30px;
  text-align: center;
  padding-bottom: 40px;
}
.cursos-itens a p {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 30px;
  display: none;
  width: 253px;
}
.cursos-itens a:hover p, .cursos-itens a:hover span {
  display: block;
}
.cursos-itens a:hover .mais {
  background-color: #F07F3C;
}

.texto-cursos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.mais {
  border: 3px solid #F07F3C;
  border-radius: 100%;
  padding: 15px;
}

.principais-cursos:hover {
  transform: scale(1.2);
  transition-duration: 1s;
}
.principais-cursos:hover a > img {
  filter: brightness(50%);
}
.principais-cursos img {
  position: relative;
  height: 490px;
}
.principais-cursos .cursos-texto {
  position: absolute;
  left: 10%;
  z-index: 1;
  top: 35%;
}
.principais-cursos a {
  text-decoration: none;
}
.principais-cursos .cursos-texto span {
  background-color: #FFFFFF;
  color: #31306C;
  font-weight: 800;
  font-size: 12px;
  text-align: right;
  border-radius: 100px;
  width: fit-content;
  margin-left: auto;
  padding: 0 5px;
}
.principais-cursos .cursos-texto h4 {
  color: white;
  font-weight: 600;
  font-size: 23px;
  line-height: 25px;
  text-align: left;
  max-width: 270px;
}
.principais-cursos .cursos-texto p {
  font-weight: 500;
  font-size: 17px;
  line-height: 20.57px;
  color: white;
}
.principais-cursos .cursos-texto .classificacao {
  display: flex;
  align-items: center;
}
.principais-cursos .cursos-texto .classificacao p {
  color: #F07F3C;
  font-weight: 700;
  font-size: 16px;
  padding-top: 20px;
  padding-left: 10px;
}
.principais-cursos .cursos-texto .classificacao img {
  height: 25px;
  width: 25px;
}
.principais-cursos .cursos-texto .beneficios {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 250px;
  padding-bottom: 27px;
}
.principais-cursos .cursos-texto .beneficios div {
  display: flex;
  align-items: center;
}
.principais-cursos .cursos-texto .beneficios div p {
  padding-top: 15px;
  padding-left: 7px;
}
.principais-cursos .cursos-texto .beneficios img {
  height: 25px;
  width: 25px;
}

.conheca-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 123px;
  padding-bottom: 122px;
  gap: 80px;
}
.conheca-container .texto-conheca {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.conheca-container .texto-conheca h1 {
  font-family: 'Inter', sans-serif;
  color: #565656;
  font-weight: 700;
  font-size: 35px;
  line-height: 42.36px;
  max-width: 448px;
  padding-bottom: 60px;
  text-align: left;
}
.conheca-container .texto-conheca div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #643A9B;
}
.conheca-container .texto-conheca div h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.75px;
  max-width: 188px;
  padding-left: 8px;
  padding-top: 10px;
  text-align: left;
}
.conheca-container .texto-conheca p {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.09px;
  color: #878787;
  max-width: 448px;
  text-align: left;
  padding-bottom: 42px;
  padding-top: 20px;
}

.diferenciais-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #31306C, #643A9B, #F07F3C);
  height: 620px;
}
.diferenciais-container h1 {
  font-weight: 700;
  font-size: 35px;
  line-height: 58px;
  text-align: center;
  color: white;
  padding-bottom: 60px;
}
.diferenciais-container .diferenciais-itens {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.diferenciais-container .diferenciais-itens > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.diferenciais-container .diferenciais-itens p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.09px;
  color: white;
  max-width: 233px;
  text-align: center;
}
.diferenciais-container .diferenciais-itens img {
  padding-bottom: 42px;
}

.container-depoimentos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 108px;
}
.container-depoimentos .titulo-depoimentos {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  padding-top: 109px;
}
.container-depoimentos .titulo-depoimentos h3 {
  color: #565656;
  font-weight: 700;
  font-size: 35px;
  line-height: 42.36px;
}
.container-depoimentos .titulo-depoimentos p {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28.13px;
  color: #878787;
}
.container-depoimentos .depoimentos-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  max-width: 416px;
  height: fit-content;
  padding-bottom: 57px;
  padding-top: 50px;
}
.container-depoimentos .depoimentos-item span {
  background-image: linear-gradient(to right, #31306C, #643A9B, #F07F3C);
  width: 100%;
  height: 20px;
  border-radius: 20px 20px 0 0;
}
.container-depoimentos .depoimentos-item img {
  margin-top: -50px;
  height: 100px;
  width: 100px;
}
.container-depoimentos .depoimentos-item h4 {
  color: #31306C;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 14px;
}
.container-depoimentos .depoimentos-item p {
  color: #8B8B8B;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  border-bottom: 2px solid #E2E2E2;
  max-width: 350px;
  height: 250px;
}
.container-depoimentos .depoimentos-item .link-depoimento {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-depoimentos .depoimentos-item .link-depoimento a {
  color: #F07F3C;
  text-decoration: none;
  font-weight: 700;
  font-size: 13px;
  line-height: 15.73px;
  text-align: center;
}
.container-depoimentos .depoimentos-item .link-depoimento img {
  height: 8px;
  width: 8px;
}

.container-sobre {
  background-color: #31306C;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  padding-bottom: 50px;
}
.container-sobre .infos {
  display: flex;
  justify-content: center;
  color: white;
  gap: 40px;
  padding-top: 138px;
}
.container-sobre .infos-links {
  max-width: 270px;
  height: fit-content;
  background-color: #31306C;
}
.container-sobre .infos-links .button:not(a, div) {
  color: #F07F3C;
}
.container-sobre .infos-links > a, .container-sobre .infos-links div {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.2px;
  text-align: left;
  max-width: 250px;
}
.container-sobre .infos-links > a:hover {
  color: #F07F3C;
}
.container-sobre .infos-links img {
  display: none;
}
.container-sobre ul {
  padding-left: 0;
  background-color: #31306C;
  padding-bottom: 30px;
}
.container-sobre ul .titulo-lista a {
  font-weight: 700;
  font-size: 16px;
  line-height: 24.2px;
  text-align: left;
}
.container-sobre ul li {
  list-style: none;
}
.container-sobre ul li a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: left;
}
.container-sobre ul li:hover a {
  color: #F07F3C;
}

.button:last-of-type a {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.button:last-of-type a img {
  display: block;
  padding-right: 10px;
}

.show-button {
  display: none;
}

.container-seta {
  background-color: #F07F3C;
  display: flex;
  width: 100%;
  justify-content: center;
}

.certificacoes-container {
  background-color: #F1F1F1;
  margin-top: 75px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.certificacoes-container h2 {
  padding-top: 59px;
  padding-bottom: 16px;
  color: #565656;
}
.certificacoes-container .certificacoes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.certificacoes-container .certificacoes-itens {
  border-radius: 3px;
  gap: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.certificacoes-container .certificacoes-itens > div {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.politicas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 30px;
}
.politicas-container .direitos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
.politicas-container .direitos p {
  color: #8B8B8B;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.23px;
}
.politicas-container .politicas {
  display: flex;
  align-items: center;
  padding-left: 106px;
  gap: 50px;
}
.politicas-container .politicas a {
  text-decoration: none;
  color: #31306C;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  text-align: right;
}
.politicas-container .politicas a:hover {
  color: #F07F3C;
}

.contatos {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, #31306C, #643A9B, #F07F3C);
  height: 53px;
}
.contatos ul {
  display: flex;
  padding-left: 0;
  list-style: none;
  gap: 60px;
  justify-self: center;
  margin: auto;
}
.contatos ul i {
  color: white;
}
.contatos .whatsapp {
  left: 20px;
  bottom: 20px;
  position: fixed;
  z-index: 5;
}
.contatos .whatsapp:hover {
  filter: brightness(115%);
}

.subir a {
  opacity: 0.5;
  color: #F1F1F1;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  transform: rotate(270deg);
}
.subir a img {
  width: 2px;
  transform: rotate(270deg);
  margin-left: 60px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  width: fit-content;
  margin-right: 0;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

.swiper-button-next {
  background-color: white;
  color: #31306C;
  height: 8px;
  padding: 25px;
  border-radius: 100%;
}
.swiper-button-next:hover {
  background-color: #F07F3C;
}

.swiper-button-prev {
  background-color: white;
  color: #31306C;
  height: 8px;
  padding: 25px;
  border-radius: 100%;
}
.swiper-button-prev:hover {
  background-color: #F07F3C;
}

span .swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: 50%;
  background: var(--swiper-pagination-bullet-inactive-color, #31306C);
}

@media (max-width: 576px) {
  .offcanvas {
    height: 100%;
  }

  .desconto {
    background-color: #31306C;
    background-image: none;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .desconto p {
    font-weight: 400;
    font-size: 15px;
    line-height: 18.15px;
    text-align: center;
    max-width: 290px;
  }

  .container-nav {
    background-position: center;
    height: 500px;
  }

  .navbar {
    flex-wrap: nowrap;
  }

  .navbar-brand img {
    width: 98px;
  }

  .responsive-button {
    display: none;
  }

  .lista {
    flex-direction: column;
    height: 100%;
  }
  .lista div:first-of-type {
    width: 100%;
    font-size: 18px;
    background-image: linear-gradient(to right, #31306C, #643A9B, #F07F3C);
  }
  .lista div:nth-of-type(2) {
    background-image: none;
    background-color: #31306C;
  }
  .lista .nav-item .nav-link {
    color: white;
  }
  .lista .nav-item .nav-link:first-of-type {
    width: 100%;
    text-align: center;
  }
  .lista .nav-item .nav-link:nth-of-type(2) {
    font-size: 20px;
    width: 100%;
    text-align: center;
  }

  .texto-header div h1 {
    font-size: 33px;
    line-height: 32px;
    max-width: 290px;
    padding-bottom: 17px;
  }
  .texto-header div p {
    max-width: 287px;
  }
  .texto-header div .descer {
    display: none;
  }

  .texto-categorias h2 {
    max-width: 290px;
  }
  .texto-categorias p {
    max-width: 290px;
  }

  .cursos-itens a h3, .cursos-itens a p {
    display: none;
  }

  .principais-cursos img {
    height: 100%;
    width: 100%;
  }
  .principais-cursos .cursos-texto {
    position: sticky;
  }

  .principais-cursos a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .principais-cursos .cursos-texto h4 {
    font-size: 20px;
    padding-bottom: 0;
  }
  .principais-cursos .cursos-texto .beneficios {
    flex-direction: column;
  }

  .swiper-button-next {
    display: none;
  }

  .swiper-button-prev {
    display: none;
  }

  .conheca-container > img {
    display: none;
  }
  .conheca-container .texto-conheca {
    max-width: 289px;
  }
  .conheca-container .texto-conheca h1 {
    text-align: center;
  }
  .conheca-container .texto-conheca .vantagens {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .conheca-container .texto-conheca .vantagens h3 {
    text-align: center;
  }
  .conheca-container .texto-conheca p {
    max-width: 291px;
    text-align: center;
  }

  .diferenciais-container {
    display: none;
  }

  .infos {
    flex-direction: column;
    padding-top: 0;
    gap: 0;
    align-items: flex-start;
  }

  .container-sobre .infos-links img {
    display: block;
    margin-right: 10px;
  }
  .container-sobre .infos-links:hover img {
    transition: ease-in-out 0.5s;
    transform: rotate(180deg);
  }
  .container-sobre .infos-links:hover ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .container-sobre .infos-links .button {
    display: none;
  }
  .container-sobre .infos-links ul {
    width: 260px;
    display: none;
  }
  .container-sobre .infos-links a {
    display: flex;
    align-items: center;
    color: white;
  }

  .show-button {
    display: block;
  }

  .certificacoes-itens a {
    width: 100%;
    display: none;
  }
  .certificacoes-itens .seta-baixo:hover a {
    display: flex;
    flex-wrap: wrap;
  }

  .politicas-container {
    flex-direction: column;
  }
  .politicas-container .politicas {
    flex-direction: column;
    padding-left: 0;
    gap: 20px;
  }

  .contatos ul {
    gap: 38px;
  }

  .whatsapp, .subir {
    display: none;
  }
}
